    * {
        box-sizing: border-box;
    }
    
    body {
        background-color: rgb(187, 236, 220);
    }
    
    h1 {
        text-align: center;
        padding: 30px;
    }
    
    h3 {
        text-align: center;
        padding: 20px;
        color: brown;
    }
    
    h2 {
        text-align: center;
        text-decoration: underline;
    }
    
    ul li {
        padding-left: 35px;
    }
    
    p {
        text-align: justify;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        margin: 20px;
    }